.vscode
.vscode/

.ipynb_checkpoints
.ipynb_checkpoints/


z5.exe
z5
test
test.exe
random_mover

games.txt
games.pgn
debug.txt

random_evals.csv
tactic_evals.csv
chessData.csv

NN
NN/*
NN/**