.vscode/
.vscode

**/*.exe
**/starzix
**/*.pdb

testsCore
testsSEE
testsNNUE

games.txt
games.pgn
debug.txt
notes.txt
stderr.txt
stderr1.txt
stderr2.txt

sprt.py
*.epd
*.pgn

**/sample.cpp
**/test.cpp

